.page {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.header {
  background-color: #333;
  padding: 0 5mm;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
}

.pane {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-flex;
}

.body {
  flex: 1 1 auto;
}

.library-seam {
  width: 0;
  position: relative;
}

.library-drawer {
  width: 300px;
  height: 100%;
  position: absolute;
  background-color: #333;
  right: 0;
  z-index: 20;
  overflow-y: auto;
}

.hidden {
  transform: translateX(300px);
  transition: transform 0.3s ease-in;
}

.visible {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.title,
.left-align,
.right-align {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}

.title {
  justify-content: center;
  font-family: MrJeeves;
  font-size: 0.6cm;
  color: white;
  margin: 2mm 0;
}

.left-align {
  justify-content: left;
}

.right-align {
  justify-content: right;
}
