.library * li {
  border-top: 1px solid #525252;
  padding: 10px;
}

.library * a {
  font-family: MrJeeves;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.library * span {
  font-size: 0.6cm;
}

.book-icon {
  margin-right: 10px;
}
