.phb-overrides.phb {
  column-width: unset;
  column-count: unset;
  width: 100%;
  height: 100%;
  -webkit-column-width: unset;
  -webkit-column-count: unset;
  -webkit-column-gap: unset;
}

.phb-overrides.phb::after {
  content: none;
}

.phb-overrides.phb p {
  font-size: 0.425cm;
}

.phb-overrides.phb h1 + p::first-letter {
  float: unset;
  font-family: unset;
  font-size: unset;
  color: unset;
  line-height: unset;
}
