.markdown-content.phb {
  column-width: unset;
  column-count: unset;
  width: 100%;
  height: unset;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  -webkit-column-width: unset;
  -webkit-column-count: unset;
}

.page-content {
  width: 215.9mm;
}
